@import "../../styles/colors.scss";

.transaction-display {
    display: grid;
    border: 2px solid $carrollBlue;
    padding: .5em;
    background-color: $carrollWhite;

    &__title {
        text-align: center;
        font-size: 1.25em;
        text-decoration: underline;
    }

    &__player-holders {
        display: flex;
        text-align: center;
        padding-top: .75em;
    }

    &__player-section {
        flex-grow: 1;
        padding: 0 .75em;

        &:nth-of-type(2) {
            border-left: 3px dashed $carrollBlue;
        }

        h3 {
            font-size: 1.25em;
            margin: 0 0 .5em;
            font-style: italic;
        }
    }

    &__stats {
        display: flex;
        justify-content: space-evenly;
    }

    &__stat-section {
        p {
            text-decoration: underline;
            margin: 0.75em 0 .25em;
        }

        span {
            font-size: 1.25em;
        }
    }
}

