@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.matchup {
    height: calc(100% - 140px - 1rem);
    width: min(1000px, 95vw);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;

    svg {
        position: absolute;
        right: -.5rem;
        width: 2.5rem;
        height: 2.5rem;
        top: 0.5rem;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            scale: 1.05;
        }
    }

    &__team-section {
        display: flex;
        justify-content: space-between;
        height: 150px;
    }

    &__team {
        display: flex;     
        margin: auto;
        width: 50%;
        height: 105px;

        &.matchup__away-team {
            justify-content: end;

            .matchup__team-name-holder {
                text-align: end;

                p {
                    color: var(--away-team-secondary-color);
                    -webkit-text-stroke: 1px var(--away-team-primary-color);
                }
            }
        }

        &.matchup__home-team {
            p {
                color: var(--home-team-secondary-color);
                -webkit-text-stroke: 1px var(--home-team-primary-color);
            }
        }

        &-logo-holder {
            width: 100px;
            margin: auto 0;

            img {
                width: 100%;
            }
        }

        &-name-holder {
            font-family: "Blockletter";
            font-size: 2rem;
            margin: 0 0.5em;
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                margin: 0;
                font-weight: 800;
                letter-spacing: 3px;
                font-size: 2.5rem;
            }
        }
    }

    &__score-section {
        flex-grow: 1;
    }

    &__point-info-holder {
        display: flex;
        justify-content: center;
        gap: 10%;

        .matchup__point-total:first-of-type {
            text-align: right;
        }

        .matchup__point-current {
            font-size: 2em;
            margin: 0.75rem 0;
        }

        .matchup__point-live {
            font-size: 1.25rem;
        }
    }

    &__roster {
        width: 100%;
        font-size: 1.25rem;

        &-score {
            width: 5%;
            text-align: center;
        }
        &-position {
            width: 10%;
            text-align: center;
        }

        &-home-player {
            width: 40%;
            text-align: left;
        }

        &-away-player {
            width: 40%;
            text-align: right;
        }
    }
}