/*Ali: White Pink Black
//Zach: Red Yellow Blue (obnoxiously)
//Riley: White Yellow
//Chris: Black White Orange Green
//Sam: Light-blue Dark-blue Red
//Jackson: Purple Silver Gold*/

$carrollOrange: #f26722;
$carrollWhite: #fff;
$carrollBlue: #002566;
$carrollGray: #333333;
$carrollSilver: #d1d3d4;
$carrollBlack: #000;