@font-face {
    font-family: "Whitney";
    src: url('../fonts/Whitney-Font/whitney-medium.otf') format('opentype');
}

@font-face {
    font-family: "Blockletter";
    src: url('../fonts/blockletter/Blockletter.otf') format('opentype');
}
  
.playful {
  color: #5362F6;
  text-shadow: textShadow(0.25, 6, #E485F8);
}