:root {
  --footer-height: 50px;
}

body {
  margin: 0;
  font-family: "Whitney", 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: calc(100svh - var(--footer-height));
  overflow: auto;
  display: flex;
  flex-direction: column;
}

text.recharts-text.recharts-cartesian-axis-tick-value {
  font-size: small;
}