@import "./styles/colors.scss";

:root {
  --footer-height: 50px;
  --header-height: 53px;
}

body {
  margin: 0;
  font-family: "Whitney", 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: calc(100svh - var(--footer-height));
  overflow: auto;
  display: flex;
  flex-direction: column;
}

text.recharts-text.recharts-cartesian-axis-tick-value {
  font-size: small;
}

.item-list-view {
  display: flex;
  padding: 1em;
  flex-direction: column;    
  background-color: $carrollSilver;

  &__items-holder {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 0;
    min-height: calc(100svh - var(--footer-height) - var(--header-height) - 2em);

    h2 {
        margin-bottom: .5em;
        padding-bottom: .25em;
        border-bottom: 1px solid $carrollBlack;
        color: $carrollWhite;
        font-size: 1.75rem;
        text-shadow: 0px 1px 3px $carrollBlack;
    }
  } 

  &__selects-holder {
    display: flex;
    justify-content: space-between;
  }

  &__sort-holder {
    font-size: 1.5em;
    display: flex;
    gap: .35em;

    select {
        font-size: .9em;
        border: 2px solid $carrollBlack;
    }
  }

  &.item-view__stats {
    background-color: $carrollWhite;

    h2 {
      text-shadow: none;
      color: $carrollBlack; 
    }
  }
}

@media (max-width: 768px) {
  .item-list-view  {
    &__sort-holder {
      flex-direction: column;
      text-align: center;
    }
  }
}