@import "./../../styles/colors.scss";

.bottom-nav {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 50px;
    width: 100%;
    gap: 3.75rem;        
    background-color: $carrollSilver;
    border-top: 3px solid black;
    font-family: 'Blockletter';
    max-width: 100vw;
    overflow-y: auto;

    &__link-holder {
        display: flex;
        position: relative;
        z-index: 1;
        background: $carrollSilver;
        width: 7.5rem;

        &:hover {
            cursor: pointer;
        }

        &:hover,
        &.active-link {
            background: $carrollBlue;
            color: $carrollWhite;
        }

        .bottom-nav__link {
            margin: auto;
            padding: 0 1em;
        }
        
        &:before,
        &:after {
            background: inherit;
            content: "";
            display: block;
            width: 75%;
            top: 0;
            position: absolute;
            bottom: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden;
        }
      
        &:before {
            left: -25%;
            transform: skewX(-45deg);
        }
        
        &:after {
            right: -25%;
            transform: skewX(-45deg);
            border-right: 3px solid black;
        }
    }

    &__year-select {
        margin: auto 1em auto auto;

        label {
            padding-right: .5em;
        }

        select {
            height: 25px;
        }
    }
}