@import "../../styles/colors.scss";

.scoreboard {
    width: calc(100% - 1rem);
    padding: .5rem;    
    padding-bottom: 1.5rem;
    background-color: $carrollOrange;
    border-top: 3px solid $carrollBlack;

    &-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
        align-items: center;
        gap: 1rem;   
        padding-top: 0.5rem;
    }

    &-week {
        color: $carrollWhite;
        padding-left: 1em;        
        font-size: 1.75rem;
        text-shadow: 0px 1px 3px $carrollBlack;
    }
}

.score-display {
    background-color: $carrollWhite;
    padding: 0.5em;
    border: 2px solid $carrollGray;
    transition: all .125s;

    &:hover:not(.disabled),
    &.active:not(.disabled) {
        cursor: pointer;
        scale: 1.03;
        outline: 3px solid $carrollBlack;
    }

    &__team-info {
        display: flex;
        gap: 0.5em;

        .score-display__logo-holder {
            display: flex;
            align-items: center;
            width: 40px;

            img {
                width: 100%;
            }
        }

        .score-display__team-name {
            width: 165px;
            text-wrap: nowrap;
            overflow: hidden;
        }

        .score-display__team-score {
            width: 40px;
            text-align: end;
        }
    }
}