@import "../../styles/colors.scss";

.scoreboard {
    display: flex;
    width: calc(100% - 1rem);
    height: 120px;
    justify-content: center;
    padding: .5rem;
    align-items: center;
    gap: 1rem;
    background-color: $carrollBlue;
}

.score-display {
    background-color: $carrollWhite;
    padding: 0.5em;
    border: 1px solid $carrollGray;

    &:hover,
    &.active {
        cursor: pointer;
        scale: 1.01;
        outline: 3px solid black;
    }

    &__team-info {
        display: flex;
        gap: 0.5em;

        .score-display__logo-holder {
            display: flex;
            align-items: center;
            width: 40px;

            img {
                width: 100%;
            }
        }

        .score-display__team-name {
            width: 165px;
            text-wrap: nowrap;
            overflow: hidden;
        }

        .score-display__team-score {
            width: 40px;
            text-align: end;
        }
    }
}