@import "../styles/colors.scss";

.draft-view__main {
    display: flex;
    padding: 1em;
    flex-direction: column;    
    background-color: $carrollSilver;
}

.draft-view__draft-pick-holder {
    max-width: 1400px;
    margin: auto;    
}

.draft-view__draft-selects-holder {
    display: flex;
    justify-content: space-between;
}

.draft-view__draft-sort-holder {
    font-size: 1.5em;
    select {
        font-size: .9em;
        margin-left: .25em;
        border: 2px solid $carrollBlack;
    }
}