@import "../styles/colors.scss";

.home-view__main {
    display: flex;
    position: relative;
    height: calc(100vh - 100px);
    min-height: 600px;    
    flex-direction: column;

    .home__standings {
        margin: auto;

        h2 {
            margin: 0;
            text-align: center;
            padding: 0.25em;
            color: $carrollWhite;
            font-size: 1.75rem;
            font-weight: 500;
        }

        .home__standings-preview {
            width: min(600px, 100vw);
            margin: auto;
            background-color: $carrollBlue;
        }
    }

    .scoreboard {        
        margin-top: auto;
    }
}