@import "../styles/colors.scss";

.home-view__main {
    display: flex;    
    flex-direction: column;
    flex-grow: 1;

    .home__standings {
        margin: auto;

        h2 {
            margin: 0;
            text-align: center;
            padding: 0.25em;
            color: $carrollWhite;
            font-size: 1.75rem;
            font-weight: 500;
        }

        .home__standings-preview {
            width: min(600px, 100vw);
            margin: auto;
            background-color: $carrollBlue;
        }
    }
}