.team-line-graph {
    .recharts-legend-item {
        user-select: none;
        margin: 0 !important;
        padding: 0 5px;
        &:hover {
            cursor: pointer;
        }
    }
    .recharts-tooltip-item-value {
        white-space: pre-line;
    }

    .recharts-tooltip-wrapper {
        z-index: 10;
    }
}