.standings {
    width: 100%;
    $rowHeight: 35px;

    tr {
        height: $rowHeight;
        display: flex;
        background-color: white;
        gap: 1em;
        align-items: center;
    }

    .standings__standing-row:first-of-type {
        padding-top: 0.25rem;
    }

    img {
        width: calc($rowHeight - 5px);
        max-width: calc($rowHeight - 5px);
    }

    &__header-rank {
        width: 50px;
    }

    &__standing-rank {
        text-align: center;
        display: flex;
        width: 40px;
        padding-left: 1rem
    }

    &__header-wins {        
        margin-left: calc(55% + 15px);
    }

    &__standing-name {
        min-width: 55%;
    }

    &__standing-wins {
        width: 1rem;
    }
}

@media (max-height: 750px) {
    .standings {
        $rowHeight: 32px;

        tr {
            height: $rowHeight;
        }
    
        img {
            width: calc($rowHeight - 5px);
            max-width: calc($rowHeight - 5px);
        }
    }   
}