@import "../../styles/colors.scss";

.draft-view__main {
    &.draft-view__stats {
        background-color: $carrollWhite;
    }
}

.draft-view__draft-selects-holder {
    display: flex;
    justify-content: space-between;
}

.draft-view__draft-sort-holder {
    font-size: 1.5em;
    select {
        font-size: .9em;
        margin-left: .25em;
        border: 2px solid $carrollBlack;
    }
}