@import "../../styles/colors.scss";

.draft-pick {
    display: grid;
    border: 2px solid $carrollBlue;
    padding: .5em;
    background-color: $carrollWhite;

    &__title {
        text-align: center;
        font-size: 1.25em;
        padding-bottom: .5em;
    }
}

