@import "../../styles/colors.scss";

.draft-view__draft-section-holder {
    display: grid;
    
    h2 {
        margin-bottom: .5em;
        padding-bottom: .5em;
        border-bottom: 1px solid $carrollBlack;
    }
}

.draft-view__draft-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}